@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: n;
}
.active {
    color: rgb(9, 9, 9);
    text-decoration: underline;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(14, 14, 14);
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url(adventure\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    margin-bottom: 100px;
    color: whitesmoke;
    text-align: center;
}
.header-content {
    font-size: 4vmin;
}
.line {
    width: 300px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding:5px 50px;
    background: red;
    border-radius: 30px;
    color: rgb(242, 240, 244);
}

